body {
    background-color: #d1d2d4;
    font-family: "Tahoma", sans-serif;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
header {
    -webkit-box-shadow: 0px 0px 50px 10px #babebf;
            box-shadow: 0px 0px 50px 10px #babebf;
    line-height: 0;
    border: 0px;
}
.header-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
}
.left-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 200px;
    width: 900px;
}
.left-bush {
    min-width: 100px;
    height: 456px;
    background: url("images/header/left_bush.jpg") no-repeat;
}
.left-backdrop {
    width: 100%;
    background: url("images/header/backdrop.jpg") repeat-x;
}
.header-main {
    display: block;
    width: 327px;
}
.wire {
    width: 328px;
    height: 65px;
    background: url("images/header/wire.jpg") no-repeat;
}
.lights {
    width: 328px;
    height: 79px;
    background: url("images/header/lights.jpg") no-repeat;
}
/* кнопки на шапке */

.buttons {
    width: 328px;
    height: 16px;
    background: url("images/header/buttons-background.jpg") repeat-x;
    padding-left: 45px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.buttons a {
    margin: 0px 33px;
    text-decoration: none;
}
.buttons img:hover,
.buttons a:focus {
    -webkit-box-shadow: 0px 0px 3px 5px #aac738;
            box-shadow: 0px 0px 3px 5px #aac738;
}
/* кнопки на шапке закончились */

.lights-reflection {
    width: 328px;
    height: 152px;
    background: url("images/header/lights-reflection.jpg") no-repeat;
}
.right-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.right-backdrop {
    width: 100%;
    background: url("images/header/backdrop.jpg") repeat-x;
}
.right-bush {
    min-width: 236px;
    height: 456px;
    background: url("images/header/right_bush.jpg") no-repeat;
}
/* главное меню */

.main-menu {
    margin-top: 0;
    padding-left: 30px;
    margin-bottom: 30px;
}
.main-menu > li {
    position: relative;
    height: 0;
    display: inline-block;
    margin-right: 10px;
    padding: 0 3px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}
.main-menu a {
    padding: 2px;
    text-decoration: none;
    border-bottom: 2px dashed #798b63;
    color: #ffffff;
    font-size: 13px;

}
.main-menu a:hover,
.main-menu a:focus {
    background-color: #4c6828;
}
.main-menu li ul {
    position: absolute;
    left: -39px;
    top: 15px;
    width: 350px;
    list-style: none;
    z-index: 100;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 0.2s linear;
            -o-transition: max-height 0.2s linear;
            transition: max-height 0.2s linear;

}
.main-menu .submenu a {
    border: 1px solid #f3f3f5;
    background-color: #939999;
    padding-top: 15px;
    height: 20px;
    display: block;
}
.main-menu li:hover .submenu {
    display: block;
    max-height: 300px;
}
.submenu a:hover,
.submenu a:focus {
    background-color: #aec94a;
}
/* флексбоксы */

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 1000px;
    width: 100%;
}
.main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 5px;
    margin-bottom: 60px;
}
.main-container > section {
    padding-left: 60px;
    margin: 34px;
    margin-right: 25px;
}
.breadcrumbs {
    display: inline-block;
    margin-left: 34px;
    padding-left: 0;
    list-style-type: none;
    color: #000000;
    font-size: 11px;
}
.breadcrumbs li {
    display: inline-block;
}
.breadcrumbs a {
    color: #4e7c2f;
}
.main-container .title-wrapper {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.title {
    display: inline-block;
    margin: 0px;
    color: #ffffff;
    font-size: 27px;
    margin-left: 34px;
    text-transform: uppercase;
    font-weight: normal;
}
.title span {
    background-color: #4c6828;
    padding: 2px 6px;
}
.print {
    display: inline-block;
    margin-left: 5px;
}
.print a {
    color: #4e7c2f;
}
/* информация о Kone */

.kone-description {
    padding-top: 47px;
    background-color: #e8e9eb;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.kone-description p {
    margin-top: 0;
    padding-right: 40px;
}
.kone-description p:last-child {
    padding-bottom: 27px;
}
.kone-image {
    width: 255px;
    height: 129px;
    float: right;
    padding: 0px 62px 46px 60px;
}
/* блок Пассажирские лифты */

.kone-passenger {
    border-bottom: 1px solid #000000;
    font-size: 14px;
}
h2 {
    margin-bottom: 50px;
    margin-top: 0px;
    font-size: 24px;
}
.passenger-image-1 {
    width: 250px;
    height: 366px;
    margin-left: 10px;
    margin-right: 0px;
    float: right;
    padding: 0px 0px 0px 10px;
}
.passenger-image-2 {
    width: 250px;
    height: 366px;
    margin-left: 50px;
    margin-right: 0px;
    float: right;
    padding: 0px 0px 0px 10px;
}
/* блок Скоростные лифты */

.main-container .kone-speed {
    padding-left: 0;
    border-bottom: 1px solid #000000;
    font-size: 14px;
}
.speed-image-1 {
    height: 380px;
    margin-right: 22px;
    float: left;
}
.speed-image-2 {
    height: 380px;
    margin-right: 50px;
    float: left;
}
/* блок Медицинский */

.main-container .kone-med {
    border-bottom: 1px solid #000000;
    font-size: 14px;
    margin-bottom: 53px;
}
.med-image {
    width: 540px;
    height: 380px;
    margin-left: 50px;
    float: right;
}
/* форма обратной связи */

.main-container .form-consult {
    background-color: #4c6828;
    color: #ffffff;
    padding-left: 0;
    text-align: center;
}
form {
    max-width: 1100px;
    margin: 0 auto;
}
form legend {
    margin: 0 auto;
    margin-top: 28px;
    margin-bottom: 30px;
    font-size: 24px;
}
.form-consult fieldset {
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    border: none;
}
.left-form {
    width: 447px;
    margin-right: 10px;
}
.left-form-input {
    width: 447px;
    height: 34px;
    margin-bottom: 9px;
    background-color: #e8e9eb;
    padding-left: 15px;
    border: none;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(110, 168, 29, 0.75);
            box-shadow: 0px 2px 0px 0px rgba(110, 168, 29, 0.75);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.right-form-textarea {
    margin-left: 0px;
    width: 548px;
    height: 120px;
    background-color: #eaebed;
    padding-left: 14px;
    padding-top: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #eaebed;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(110, 168, 29, 0.75);
            box-shadow: 0px 2px 0px 0px rgba(110, 168, 29, 0.75);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.right-form {
	text-align: left;
}
.check {
    visibility: hidden;
}
.check + label {
    position: relative;
    cursor: pointer;
	padding-left: 15px;
}
.check + label::before {
    position: absolute;
    left: -24px;
    top: -17px;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border: none;
    content: "";
    margin-top: 15px;
}
.check:checked + label::after {
    content: "";
    position: absolute;
    top: 1px;
    left: -22px;
    width: 11px;
    height: 6px;
    background: none;
    border: 2px solid #659820;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.data {
    color: #ffffff;
}
.submit-button {
    color: #ffffff;
    background-color: #6ea81d;
    border: #ffffff solid 1px;
    font-weight: bold;
    font-size: 14px;
    width: 169px;
    height: 37px;
    margin-top: 30px;
    margin-bottom: 28px;
}
/* сайдбар с новостями */

.sidebar {
    width: 230px;
    margin-right: 15px;
}
.sidebar-header,
.sidebar-footer {
    position: relative;
    color: #ffffff;
    background-color: #4c6828;
    font-size: 27px;
    padding: 6px;
    height: 65px;
    width: 230px;
    line-height: 1;
    text-transform: uppercase;
}
.sidebar-header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 30px;
}
.sidebar-header h2 {
    font-weight: normal;
    font-size: 27px;
}
.sidebar-header::after,
.sidebar-footer::after {
    position: absolute;
    content: "";
    max-width: 0;
    height: 0;
    margin-top: 0px;
    margin-left: 205px;
    border: 7px solid;
    border-color: transparent;
    border-top-color: #3d6906;
    border-bottom: 0;
}
.sidebar-header::after {
    right: 15px;
    top: 65px;
}
.sidebar-footer::after {
    right: 15px;
    top: 65px;
}
.news {
    padding-left: 0;
    list-style-type: none;
}
.news li {
    margin-bottom: 0;
    padding-bottom: 0;
}
.news-date {
    color: #3d6906;
    font-size: 38px;
}
.news-year {
    color: #7f8081;
    font-size: 16px;
}
.news-of-date {
    text-align: right;
}
.news-archive {
    position: relative;
    text-align: right;
    margin-top: -5px;
}
.news-archive a::before {
    position: absolute;
    top: 1px;
    right: 94px;
    width: 8px;
    height: 11px;
    content: "";
    background: url("images/news_archive.gif") no-repeat;
}
.news-of-date a,
.news-archive a {
    font-size: 12px;
    color: #3d6906;
}
.news p {
    margin: 8px 0px;
}
.sidebar-footer {
    margin-top: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.sidebar-footer p {
    margin: 0;
    padding-top: 15px;
    margin-left: 35px;
}
.city-code {
    font-size: 15px;
    color: #69a41d;
}
@media screen and (max-width: 1370px) {
    form {
        max-width: 548px;
    }
}